.card {
    --weekday-gray: #8b8b8b;
    --weekday-purple: rgb(73, 67, 218);
    width: calc(33.33% - 12rem);
    min-width: 360px;
    height: 42rem;
    margin: 0 2rem;
}

.card-header p {
    margin: 0;
}

.card-description p {
    margin: 0;
}

#intersection-point {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.card-company-name {
    cursor: pointer;
    font-family: 'Weekday bold';
    color: var(--weekday-gray);
}

.card-company-name:hover {
    text-decoration: underline;
}

.card-location-name {
    font-family: "Weekday body";
    margin-top: 5px !important;
}

.card-description {
    max-height: 20rem;
}

.card-description-text {
    overflow: hidden;
    margin-bottom: 10px !important;
}

.card-action-area {
    margin-top: auto;
}

.card-chip {
    padding: 5px 10px;
    margin-bottom: 8px;
}

.card-action {
    background: var(--weekday-green);
    border: none;
    width: calc(100% - 1rem);
    font-size: 16px;
    cursor: pointer;
    font-family: "Weekday body";
    padding: 8px 18px;
    border-radius: 8px;
    margin-top: 8px;
    line-height: 1.75;
}

.card-action-purple {
    background: var(--weekday-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.MuiPaper-root {
    padding: 0 !important;
}

.MuiCard-root {
    width: 360px;
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
}

.MuiChip-label {
    font-size: 9px;
    font-family: 'Weekday light';
}

.MuiChip-sizeMedium {
    padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    height: 0px;
    border: 1px solid rgb(230, 230, 230);
}