:root {
  --weekday-gray: '#8b8b8b';
  --weekday-green: rgb(85, 239, 196);
}

@font-face {
  font-family: 'Weekday light';
  src: url('assets/fonts/weekday-font-light.woff2') format('truetype');
}

@font-face {
  font-family: 'Weekday body';
  src: url('assets/fonts/weekday-font-medium.woff2') format('truetype');
}

@font-face {
  font-family: 'Weekday bold';
  src: url('assets/fonts/weekday-font-bold.woff2') format('truetype');
}

@font-face {
  font-family: 'Weekday head';
  src: url('assets/fonts/weekday-font-extra-bold.woff2') format('truetype');
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 3rem;
}

.facets-area {
  border: 1px solid black;
  padding: 2rem
}

.list-area {
  border: 1px solid black;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  flex-grow: 1;
}

.card-area {
  border: 1px solid black;
  height: 10rem;
  display: grid;
  place-items: center;
  /*width: 8rem;*/
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-small {
  font-size: 11px;
  letter-spacing: 1px;
}

.text-base {
  font-size: 13px;
  line-height: 21px;
}

.text-l {
  font-size: 14px;
}

.text-xl {
  font-size: 16px;
}

.gap-8 {
  gap: 8px;
}

.font-bold {
  font-family: "Weekday bold";
}

.color-weekday-gray {
  color: var(--weekday-gray);
}

@media (max-width: 768px) {
  .list-area {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}