@font-face {
  font-family: 'Weekday light';
  src: url('assets/fonts/weekday-font-light.woff2') format('truetype');
}

@font-face {
  font-family: 'Weekday body';
  src: url('assets/fonts/weekday-font-medium.woff2') format('truetype');
}

@font-face {
  font-family: 'Weekday bold';
  src: url('assets/fonts/weekday-font-bold.woff2') format('truetype');
}

@font-face {
  font-family: 'Weekday head';
  src: url('assets/fonts/weekday-font-extra-bold.woff2') format('truetype');
}